.idea

.env
.venv

__pycache__
.python_packages

responses

# ignore all unnecessary files
/draw_locations/location_trace.html
/draw_locations/map.html
/draw_locations/scatter_plot.png
/llamaIndex/.ipynb_checkpoints/knowledge_graph-checkpoint.ipynb
